body
{
background-color: grey;
font-family: Calibri; 
  font-size: 14pt;         
  font-style: normal; 
  font-weight: bold; 
  color:Black;
  text-align: center; 
  border:1px solid red;
  border-radius:10px;
}
	
